.register-company{
    .header{
        background-color: #7C7C7C;
        .bg-light{
            background-color: #7C7C7C !important;
        }
        a{
            color:#fff;
        }
        ul{
            border: 0px;
            margin-bottom: 0px;
        }
        .dropdown-item{
            color: #7C7C7C;
        }
    }
    
}

.company-footer{
    background-color: #7C7C7C;
    padding: 0 20px;
    color: #fff;
    .container{
        padding-bottom: 20px;
    }
    .logo-footer{
        width: 100px;
        margin-bottom: 30px;
    }
    .footer-5{
        font-size: 14px;
    }
    .social{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            padding-right: 10px;
        }
        div:last-child{
            padding-right: 0px;
        }
        
    }
    ul{
        border: 0px;

        li{
            float: none;
            display: block;
            padding-left:0px;
            padding-top: 20px;
           
            a{
                color: #fff;
            }
        }
    }
    

}
.container-desktop{
   /* max-width: 1140px;*/
   width: 80%;
   color: #7C7C7C;
   h1{
        color: #7C7C7C;
   }

   .text-yellow{
    color: #FFC00F;
   }
  
   .div-doc{
        background: #6D6D6D;
        width: 100%;
        padding: 20px;
        display: flex;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }
    .list-doc{
        display: flex;
    }
    .text-bold{
        font-weight: bold;
        line-height: 40px;
    }
    .btn-yellow{
        display: block;
        background: #FCBF10;
        text-align: center;
        color: #fff;
        padding: 20px;
        font-weight: bold;
        font-size: 22px;
    }
}
.main-form{
    background-color: #F7F7F7;
    .container{
        padding-top: 0px;
    }
}
body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    /*margin: 1rem*/
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .15rem solid #DEDEDE;
        width: 5.46rem;
        position: absolute;
        left: 7.5rem;
        bottom: .6125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .15rem solid #DEDEDE;
        width: 5.8125rem;
        position: absolute;
        right: 7.5rem;
        bottom: .6125rem
    }
}

.timeline-steps .timeline-content {
    width: 12.2rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 10px;
    width: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #707070
}
.timeline-step .number-cirle{
    span{
        border: 3px solid #DEDEDE;
        border-radius: 50%;
        padding: 10px 20px;
       
    }
   
   
}
.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #DEDEDE;
    display: inline-block;
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 6.25rem;
    opacity: .5
}
.head-form{
    background: #fff;
    .container-desktop{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
    }
}
.timeline-steps{
    .active{
         .number-cirle span{
            border-color: #FFC00F;
        }
        .inner-circle:before{
            background-color:#FFC00F;
        }
        .inner-circle{
            background-color:#FFC00F;
        }

    }
}
.head-register{
    font-size: 32px;
    color: #272727;
}
.timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 25px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
  
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 25px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #707070;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.active.single-timeline-area .timeline-date::before{

        background-color: #FCBF10;
   

}
.active .step-left{
    font-weight: bold;
    
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: #f1c40f;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: #020710;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #3f43fd;
}
.step-left{
    padding: 15px 0px;
}
.form-company{
    background: #fff;
    padding: 20px 30px;
    .btn-warning{
        color: #fff;
        svg{
            margin-left: 10px;
        }
    }
}
.btn-recommend{
    font-size: 12px;
    svg{
        margin-right: 10px;
    }
}
.form-flex{
    display: flex;
    margin: 10px 0px;
    span{
        padding-right: 10px;
    }
   
}
.radio-flex{
    display: flex;
  
    .custom-radio{
        margin-right: 10px;
    }
}