.register-company{
    .header{
        background-color: #7C7C7C;
        .bg-light{
            background-color: #7C7C7C !important;
        }
        a{
            color:#fff;
        }
        ul{
            border: 0px;
            margin-bottom: 0px;
        }
        .dropdown-item{
            color: #7C7C7C;
        }
    }
    
}

.company-footer{
    background-color: #7C7C7C;
    padding: 0 20px;
    color: #fff;
    .container{
        padding-bottom: 20px;
    }
    .logo-footer{
        width: 100px;
        margin-bottom: 30px;
    }
    .footer-5{
        font-size: 14px;
    }
    .social{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            padding-right: 10px;
        }
        div:last-child{
            padding-right: 0px;
        }
        
    }
    ul{
        border: 0px;

        li{
            float: none;
            display: block;
            padding-left:0px;
            padding-top: 20px;
           
            a{
                color: #fff;
            }
        }
    }
    

}
.container-desktop{
   /* max-width: 1140px;*/
   width: 80%;
   color: #7C7C7C;
   h1{
        color: #7C7C7C;
   }

   .text-yellow{
    color: #FFC00F;
   }
  
   .div-doc{
        background: #6D6D6D;
        width: 100%;
        padding: 20px;
        display: flex;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }
    .list-doc{
        display: flex;
    }
    .text-bold{
        font-weight: bold;
        line-height: 40px;
    }
    .btn-yellow{
        display: block;
        background: #FCBF10;
        text-align: center;
        color: #fff;
        padding: 20px;
        font-weight: bold;
        font-size: 22px;
    }
}